PORT=4000
AUTH_SERVICE_URL=http://localhost:4101
TENANT_SERVICE_URL=http://localhost:4102
PAYMENT_SERVICE_URL=http://localhost:4103
CHAT_SERVICE_URL=http://localhost:4104
NOTES_SERVICE_URL=http://localhost:4105
NOTIFICATION_SERVICE_URL=http://localhost:4106
